body{
    font-family: Arial, Helvetica, sans-serif;    
}
h1{ 
    text-align: center;
    font-size: 40px;   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #00251a;
}
h2{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #004d40;
    border: 1px solid slategrey;
}
h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #439889
}
ul,table{
    color: #004e41;
}
a{
    text-decoration: none;
}
br{
    line-height: 1.5;
}
.textoresaltado{
    color:#003d33;
    font-weight: bold;   
}
#textoalerta {
    color: #e65100;
}
#espaciototal{
    width: 1000px;
    border: 5px solid lightslategrey;
    
}